@import "../scss/mixins";

:root {
  // base
  --font-family-title: "Poiret One", sans-serif;
  --font-family-text: "Nunito", sans-serif;
  --content-width: 1570px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --color-light: #fff;
  --color-black: #000;
  --color-accept: #00f0ff;
  --color-alert: #f93232;
  --color-off-black: #303030;
  --color-polite-white: #e9ddd3;
  --color-dire-wolf: #272727;

  // transition
  --transition-default: 0.3s ease-in;

  @include small-tablet {
    --container-offset: 40px;
  }

  @include mobile {
    --container-offset: 15px;
  }
}
